<%= require('html-loader!../templates/start.html') %>
<title><%= htmlWebpackPlugin.options.title %></title>
<%= require('html-loader!../templates/head.html') %>
<h1>我是page1的页面主体,我还引入了一张图片</h1>
<img src="<%= require('../assets/test.jpg') %>" alt="">
<div id="aa" style="width:500px;height:500px;"></div>
<div class="testless"></div>
<div>
    <button class="btn btn-success m-1" onclick="">Success</button>
    <button class="btn btn-info m-2" onclick="$.hulla.send('这是一则信息', 'info')">Info</button>
    <button class="btn btn-warning m-2" onclick="$.hulla.send('这是一则警告信息!', 'warning')">Warning</button>
    <button class="btn btn-danger m-2" onclick="$.hulla.send('这是一则危险信息', 'danger')">Danger</button>
    <button class="btn btn-light m-2" onclick="$.hulla.send('这是一则信息（亮色主题）', 'light')">Light</button>
    <button class="btn btn-dark m-2" onclick="$.hulla.send('这是一则信息（暗色主题）', 'dark')">Dark</button>
</div>

<div class="zzsc-content bgcolor-8">
    <p>距离2020年1月1日还有：</p>
    <span id="clock"></span>
</div>

<%= require('html-loader!../templates/footer.html') %>