
</head>
<body>
<nav class="navbar navbar-default navbar-me ">
    <div class="navbarcont clearfix">
        <div class="navbar-header">
            <a href="#" class="navbar-brand-icon"></a>
            <a class="navbar-brand" href="#">
                <span id="yeardate"></span>
                <!-- <span id="timedate"></span> -->
            </a>
        </div>
        <div class="collapse navbar-collapse" id="headtitle"></div>
        <div class="navbar-user pull-right">
            <span class="username" id="usernick"></span>
            <span class="userline"></span>
            <span class="userquit"></span>
        </div>
    </div>
</nav>

<!-- 模态框（Modal） -->
<div class="modal fade" id="closs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

